<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="blog_background">
    <%- include("./partials/nav") %>
    <!-- ----------------------- blog---------------------------- -->
    <div class="container">
      <div class="row">
        <div class="col-8">
          <article class="read text-center">
            <div class="blog-body">
              <h1><%= blog.title %></h1>
              <div>
                <p><%= blog.createdBy.fullName %></p>
              </div>
            </div>
            <hr />
            <div class="blog-body">
              <img
                src="<%= blog.coverImageURL %>"
                height="600px"
                width="780px"
              />
            </div>
            <div class="blog-body text">
              <p body-text><%= blog.body %></p>
            </div>
          </article>
          <!-- comments will be rendered here -->
          <div class="container mt-5 comments">
            <!-- if the user is authenticated, he will be able to add the comments -->
            <% if (locals.user) {%>
            <form action="/blog/comment/<%= blog._id %>" method="post">
              <div class="mb-3">
                <textarea
                  name="content"
                  class="form-control"
                  id="comment"
                  placeholder="Enter your comment here..."
                ></textarea>
              </div>
              <div class="mb-3">
                <button class="btn btn-sm btn-primary" type="submit">
                  Add
                </button>
              </div>
            </form>
            <% } %>

            <!-- if the user is not authenticated, he will be just able to see the comments -->
            <form action="/blog/<%= blog._id %>">
              <div class="dropdown text-end">
                <button
                  class="btn btn-secondary dropdown-toggle"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Sort by
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button class="dropdown-item" type="submit" name="selectedValue" value="pos">Positive</button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="submit" name="selectedValue" value="neg">Negative</button>
                  </li>
                  <li>
                    <button class="dropdown-item" type="submit" name="selectedValue" value="neu">Neutral</button>
                  </li>
                </ul>
              </div>
            </form>
            <div class="mt-3">
              <% comments.forEach(comment => { %>
              <div>
                <img
                  src="<%= comment.createdBy.profileImageURL %>"
                  width="50px"
                />
                <%= comment.createdBy.fullName %>
                <pre><%= comment.body %></pre>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
        <% if (locals.user) { %>
        <div class="col-4 recommend">
          <h2>Recommended for you!</h2>
          <div>
            <!------------------ from here starts the recommended blogs ------------->
            <div class="container mt-5 row row-cols-1">
              <% recommendedBlogs.forEach((blog) => { %>
              <div class="col rec">
                <div class="card blog-card">
                  <div
                    class="bg-image hover-overlay"
                    data-mdb-ripple-init
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="<%= blog.coverImageURL %>"
                      class="card-img-top"
                      height="200px"
                      width="150px"
                      alt="..."
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.15)"
                      ></div>
                    </a>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title"><%= blog.title %></h5>
                    <p class="card-text">
                      <%= `${blog.body.slice(0,20)}...` %>
                    </p>
                    <a
                      href="/blog/<%= blog._id %>"
                      class="btn btn-primary"
                      data-mdb-ripple-init
                      >View</a
                    >
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
